/* 
  padding-top:    padding superior
  padding-right:  padding derecho
  padding-bottom: padding inferior
  padding-left:   padding izquierdo
  
  4 valores -> padding: top right bottom left;
  3 valores -> padding: top left/right bottom;
  2 valores -> padding: top/bottom left/right;
  1 valor   -> padding: el valor que pongas lo agarra para todas
*/
body{
  background-color: #252525;
  color: white;
}

.title{
  background-color: yellowgreen;
  padding: 100px;
}

.edarcode{
  background-color: royalblue;
  padding-left: 50px;
  padding-bottom: 100px;
}