/* 
  Es útil visualizar un reloj para recordar el orden de c/propiedad

  margin-top:     Margen superior       12:00
  margin-right:   Margen derecho         3:00
  margin-bottom:  Margen inferior        6:00
  margin-left:    Margen izquierdo       9:00

  4 valores -> margin: top right bottom left;
  3 valores -> margin: top left/right bottom;
  2 valores -> margin: top/bottom left/right;
  1 valor   -> margin: el valor que pongas lo agarra para todas
  
  a los elementos en linea no se les puede dar margin laterales
*/

.title{
  background-color: royalblue;
  width: 150px;
  height: 150px;
  /* margin: 100px; */

  /* margin-left: auto;
  margin-right: auto; */
  
  margin: 0 auto;
}
.line{
  background-color: brown;
  height: 2px;
}
.enlace{
  margin-left: 100px;
}