*{
  box-sizing: border-box;
}

body{
  background-color: #252525;
  color: white;
  margin-top: 50px;
}

a{
  color: inherit;
}

/*
  =>
    position: sticky;   

    Es una mezcla entre "relative" y "fixed", los valores top, left, bottom y right sirven para indicar en qué punto pasará a tener un comportamiento similar a fixed. Esto sucederá mientras se recorra todo el alto del padre directo 

*/

.text{
  width: 100px;
}

header{
  width: 600px;
  height: 600px;
  background-color: brown;
}

.menu{
  font-size: xx-large;
  background-color: royalblue;
  text-align: center;

  position: sticky;
  top: 50px;
}

